name: fix

on:
  push:
    branches: [ "main", "chore/*", "feat/*", "fix/*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  fixExpected:
    name: fixExpected
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      
      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: flutter test
